// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$blue: #1C77C3;
// $medium-blue: #A6D9F7;
// $light-blue: #B1DDF1;
$light-gray: #F7F9F9;
$light-black: #312F2F;
