.profile-links {
  display: block;
  text-align: center;
  padding: 16px;
}

.profile-links a {

  color: white;
}

.my-profil {
  margin-top: 24px;
}

.profile-links p {
  margin-right: 16px;
  padding: 16px;
}

.mon-profile {
  text-align: center;
}
