<div class="deconstructed">
  Modifier mon Bateau
  <div>Modifier mon Bateau</div>
  <div>Modifier mon Bateau</div>
  <div>Modifier mon Bateau</div>
  <div>Modifier mon Bateau</div>
</div>

<%= simple_form_for [@rental] do |f| %>
  <%= f.input :date %>
  <%= f.submit "BOOK THIS DATE", class: "btn btn-primary" %>
<% end %>
