<h1>My rentals</h1>
<br>
<% @rentals.each do |rental| %>
(<%= @rentals.last.user.email %>)
<%= link_to(rental.boat.name, rental_path(rental)) %>
<br>
<% end %>
<%= link_to('Back to home', root_path) %>
