<h3>A quelle date désirez vous réserver votre bateau?</h3>
<%= simple_form_for [@boat, @rental] do |f| %>
  <%= f.input :date %>
  <%= f.submit "BOOK THIS DATE", class: "btn btn-primary" %>
<% end %>
