.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 42px;
  width: 100%;
  padding-top: 16px;
  padding-left: 16px
}

.card-boat {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: inline;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background: black;
  opacity: 0;
}

.card-boat > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-boat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-boat p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-boat .card-boat-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-boat-infos .card-boat-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
