.cards {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
  width: 100%;
  padding-left: 46px;
  padding-bottom: 26px;
}

.card-boat {
  height: 300px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: inline;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  position: relative;
  transition: 0.15s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow:  10px 10px 70px 2px rgba(0,0,0,0.4);
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background: black;
  opacity: 0;
}

.card-boat > img {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: 40%;

}

.card-boat h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 2px 0;
}

.card-boat p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.boat-location {
  font-style: italic;
}

.card-boat .card-boat-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-boat .card-trip-user {
  position: absolute;
  right: 25px;
  top: 40px;
  width: 55px;
}

.card-boat .card-boat-pricing {
  text-align: right;
  position: absolute;
  right: 25px;
  top: 15px;
  width: 100px;
  color: rgb(236, 79, 79);
}
