<h1>My boats</h1>
<br>
<h2><%= current_user.first_name %>  <%= current_user.last_name %></h2>
<% @boats.each do |boat| %>
<%= link_to(boat.name, my_boat_path(boat)) %>
<br>
<% end %>

<%= link_to('NEW BOAT', new_boat_path) %>
