<div class="container mt-4">
<div class="deconstructed">
  Mes Bateaux
  <div>Mes Bateaux</div>
  <div>Mes Bateaux</div>
  <div>Mes Bateaux</div>
  <div>Mes Bateaux</div>
</div>

  <%= render partial: 'boat_cards', locals: {boats: @boats} %>
  <div class="d-flex justify-content-center location-button">
  <p class="btn-log"><%= link_to('Nouveau Bateau', new_boat_path) %></p>
</div>
</div>
