<div class="container mt-4">
<div class="deconstructed">
  Mes Bateaux
  <div>Mes Bateaux</div>
  <div>Mes Bateaux</div>
  <div>Mes Bateaux</div>
  <div>Mes Bateaux</div>
</div>

  <%= render partial: 'boat_cards', locals: {boats: @boats} %>
  <%= link_to('NEW BOAT', new_boat_path) %>
</div>
