<div class="home-header ">
  <div class="home-title">
    <h1 class="line-1 anim-typewriter">Louez un bateau avec vos amis!</h1>
  </div>

  <%= render partial: 'search_bar' %>
</div>


  <h2>Les bateaux les plus loués</h2>
  <p>Retrouvez ci-dessous les bateaux avec le plus de succès</p>
<div class="container mt-4">
  <%= render partial: 'boat_cards.html.erb', locals: {boats: @boats} %>

</div>
