<div class="home-header ">
  <div class="home-title">
    <h1 class="line-1 anim-typewriter">Louez un bateau pour ken sale</h1>
  </div>

  <%= render partial: 'search_bar' %>

</div>
<div class="container">
  <div class="deconstructed">
    Les bateaux les plus loués
    <div>Les bateaux les plus loués</div>
    <div>Les bateaux les plus loués</div>
    <div>Les bateaux les plus loués</div>
    <div>Les bateaux les plus loués</div>
  </div>
</div>

<div class="container mt-4">
  <%= render partial: 'boat_cards.html.erb', locals: {boats: @boats} %>
</div>
